<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{authors.first_name}}{{authors.last_name}}</h1>
    <h2>ID:{{authors.id}}</h2>
    <h2>Notes:</h2>
    <p>{{authors.notes}}</p>
    <h1>Books</h1>
         {%for aut in authors.clients.all%}
         <p>{{aut.title}}</p>
         {%endfor%}

         <form action="/author/{{authors.id}}" method="POST">  
            {%csrf_token%} 
            
            <select name="select" id="op">
                {%for j in book%}
                <option value="{{j.id}}">{{j.title}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="add">
            
    </form>
</body>
</html>