<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{books.title}}</h1>
    
         
         <h1>ID: {{books.id}}</h1>
         
         <h1>Description:</h1>
         <p>{{books.desc}}</p>




         <h1>Authors</h1>
         {%for aut in books.authors.all%}
         <p>{{aut.first_name}}{{aut.last_name}}</p>
         {%endfor%}

         <form action="/book/{{books.id}}" method="POST">  
            {%csrf_token%} 
            
            <select name="selects" id="opt">
                {%for i in authors%}
                <option value="{{i.id}}">{{i.first_name}}{{i.last_name}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="add">
            
    </form>
</body>
</html>